
<table class="ordersTable">
	<th>Reference#</th>
	<th>Email Address</th>
	<th>Date</th>
	<th>Total</th>
	<th>Monthly?</th>
	<% @donations.each do |donation| %>
		<tr>
			<td><%= donation.ref_num %></td>
			<td><%= donation.email %></td>
			<td><%= donation.created_at %></td>
			<td><%= donation.total %></td>
			<td><%= donation.recurring %></td>
		</tr>
	<% end %>
</table>