<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item sliderDiv active banner1">
     <%= image_tag "banner1.jpg" %>
    </div>

    <div class="item sliderDiv banner2">
       <%= image_tag "banner2.jpg" %>
    </div>

    <div class="item sliderDiv banner3">
       <%= image_tag "banner3.jpg" %>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="sliderArrow glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="sliderArrow glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class=" container threeBoxesDiv">
	<div class="row">
		<a href="/donation_items">
			<div class="box box1 ">
				<div class="triangleDiv"><p>NEW <span>for</span> ELUL</p></div>
				<h4>DONATE TO CHESED 24/7</h4>
				<!-- <h5>NEW for ELUL!</h5> -->
				<div class="c247boxLogoDiv">
					<%= image_tag "Chesed247Logo.png", :class => "c247boxLogo" %>
				</div>
			</div>
		</a>
		<a href="/specials">
			<div class="box box2 ">
				<h4>EVERGREEN CIRCULARS</h4>
				<h5>Click here to view</h5>
				<%= image_tag "circulars.png", :class => "circulars" %>
			</div>
		</a>
		<div class="box box3 ">
			<h4>TEXT EXCLUSIVE DOORBUSTERS</h4>
			<h5>Sign up today</h5>
			<div><p>Text 'evergreen' to 33222</p></div>
			<%= image_tag "phone.png", :class => "phone" %>
		</div>
	</div>
</div>
<a href="https://www.shopevergreenkosher.com/specials">
	<div class="specialsDiv">
		<h2>FEATURED SPECIALS</h2>
		<div id="specialsCarousel" class="carousel slide" data-ride="carousel">
		  <div class="carousel-inner" id="specials-carousel-inner">
		  	<% @specials.each_slice(5) do |five_specials| %>
		  		<div class="item row">
						<% five_specials.each do |special| %>
							<span class="specialItem">
								<%= image_tag "saleBubble2.png", :class => "saleBubble" %>
								<div class="specialImageDiv">
									<%= image_tag special[:image_url], :class => "specialImage" %>
								</div>
								<p class="specialDescription"><%= special[:description] %></p>
									<p class="brandAndWeight">
										<% if special[:brand] %>
											<span class="specialBrand"><%= special[:brand] %></span> | 
											<span class="specialWeight"><%= special[:weight] %> <%= special[:weight_unit] %></span>
										<% end %>
									</p>
								<p class="specialName"><%= special[:name] %></p>
								<p class="specialPrice"><span class="specialRegPrice" 
									<% if special[:sale_price] != nil %>
										style="text-decoration: line-through; color: #aaa;"
									<% end %>
								>
								<%= number_to_currency(special[:regular_price]) %></span> <span class="specialSalePrice"><%= number_to_currency(special[:sale_price]) %></span></p>
							</span>
						<% end %>
					</div>
				<% end %>
		  </div>

		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#specialsCarousel" data-slide="prev">
		    <span class="sliderArrow glyphicon glyphicon-chevron-left"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#specialsCarousel" data-slide="next">
		    <span class="sliderArrow glyphicon glyphicon-chevron-right"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
</a>
<div class="storeLinksDiv">
  <!-- <div class="storeLinksDivOverlay"></div> -->
  <div class="storeLinkDiv">
        <%= link_to image_tag("store_images/blossoms2.png"), "http://www.blossomsny.com/", target: :_blank %>
        <%= link_to image_tag("store_images/fishys2.png"), "https://www.facebook.com/profile.php?id=100005070855322&fref=ts", target: :_blank  %>
        <%= link_to image_tag("store_images/simply_sushi2.png"), "http://www.simplysushi.com/", target: :_blank  %>
        <%= link_to image_tag("store_images/glatt_geshmak2.png"), "http://www.glattgeshmak.com/", target: :_blank  %>
        <%= link_to image_tag("store_images/zishes2.png"), "https://www.facebook.com/ZishesHomemadeBakery/", target: :_blank  %>
        <%= link_to image_tag("store_images/grab_geshmak2.png"), "http://www.glattgeshmak.com/", target: :_blank  %>
        <%= link_to image_tag("store_images/vitality2.png"), "#" %>
  </div>
</div>
<script type="text/javascript">
	const specialsCarousel = document.querySelector('#specials-carousel-inner');
	specialsCarousel.firstElementChild.classList.add('active');
</script>
