<div class="overlay"></div>
<div class="container homeDiv">
  <div id="slider">
    <div class="slide_viewer">
      <div class="slide_group">
        <div class="slide homeBGDiv homeBGDiv1"></div>
        <div class="slide homeBGDiv homeBGDiv2"></div>
        <div class="slide homeBGDiv homeBGDiv3"></div>
        <div class="slide homeBGDiv homeBGDiv4"></div>
        <div class="slide homeBGDiv homeBGDiv5"></div>
      </div>
    </div>
  </div>

  <span class="logoSpan">
    <%= image_tag("evergreen_logo_small.png", class: "evergreenLogo") %>
  </span>
  <%= image_tag("evergreen_title.png", class: "evergreenTitle") %>
  <h1><span id="shop">shop</span><span id="happy">happy!</span></h1>
  <div class="triangleDiv"></div>
  <%= image_tag("boy.png", class: "boy") %>
</div>
<div class="container aboutContainer" id="about">

    <%= image_tag "fruit.jpg", :class => "fruitPic" %>
  <div class="row">
    <div class="aboutDiv col-xs-12 col-md-12">
      <!-- <embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=http://files.constantcontact.com/0774347d301/fce41f18-f119-4647-8959-32e0d5df84f8.pdf?ver=1524063673000" class="pdf"> -->
      <h1>Our Vision. Your Store.</h1>
      
      <div class="aboutTextDiv">
        <p>Located in Town Square in the heart of Monsey, NY, Evergreen is 30,000 square feet of grocery, butcher, bakery, health food, fish, produce, sushi, full service deli & prepared foods.</p>
        <p>We're more than our wide aisles, huge product selection & great prices. We're a shopping destination that combines the friendliness of a neighborhood grocery with the value and convenience of a state-of-the-art specialty supermarket.</p>
        <p>Evergreen is our vision.....but it's your store.</p>
      </div>
    </div>


    <div class="col-xs-12 col-md-3 postsContainer displayNone">
      <h1>News & Events</h1>
      <% @posts.each do |post| %>
        <div class="postContainer">
            <% if post.image_file_name != nil %>
              <a href="/posts/<%= post.id %>">
                <div><%= image_tag post.image.url(:thumb), :class => "postImage" %></div>
            <% else %>
            <a href="https://www.youtube.com/watch?v=<%= post.youtube_id %>">
              <%= image_tag "https://img.youtube.com/vi/#{post.youtube_id}/2.jpg", :class => "postImage youtubeThumb" %>
              <!-- <div><%= image_tag post.image.url %></div> -->
              <!-- <iframe width="500" height="315" src="https://www.youtube.com/embed/<%= post.youtube_id %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
            <% end %>
            <p>
              <%= post.title %>
              <br>
              <%= post.pretty_time %>
            </p>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="savingsDiv">
  <h1>Savings Await You!</h1>
</div>

<!-- Store Links Section -->

<div class="storeLinksDiv">
  <div class="storeLinksDivOverlay"></div>
  <div class="storeLinkDiv">
        <%= link_to image_tag("store_images/blossoms.png"), "http://www.blossomsny.com/", target: :_blank %>
        <%= link_to image_tag("store_images/fishys.png"), "https://www.facebook.com/profile.php?id=100005070855322&fref=ts", target: :_blank  %>
        <%= link_to image_tag("store_images/simply_sushi.png"), "http://www.simplysushi.com/", target: :_blank  %>
        <%= link_to image_tag("store_images/glatt_geshmak.png"), "http://www.glattgeshmak.com/", target: :_blank  %>
        <%= link_to image_tag("store_images/town_square.png"), "http://www.mosneytownsquare.com/", target: :_blank  %>
        <%= link_to image_tag("store_images/zishes.png"), "https://www.facebook.com/ZishesHomemadeBakery/", target: :_blank  %>
        <%= link_to image_tag("store_images/grab_geshmak.png"), "http://www.glattgeshmak.com/", target: :_blank  %>
        <%= link_to image_tag("store_images/vitality.png"), "#" %>
  </div>
</div>

<!-- Contact Section -->
<div class="text-center">
  <div class="container" id="contactDiv">
    <div class="gradientOverlay"></div>
    <div class="col-md-6">
      <%= image_tag("let_us_help.jpg", class: "helpPic") %>
    </div>
    <div class="col-md-6">
    <h1 class="bringForward">Contact Us</h1>
    <p class="bringForward">Questions? Comments? We'd love to hear from you!</p>
      <%= form_tag "/pages/contact_form", :id => "contactForm" do %>
        <p>
          <%= text_field_tag :name, "", placeholder: "Name", required: true %>
          <%= text_field_tag :email, "", placeholder: "Email", required: true  %>
        </p>
        <p><%= text_area_tag :message, "", placeholder: "Message", required: true  %></p>
        <%= submit_tag "Send Message", :class => "btn btn-success" %>
      <% end %>
      
    </div>
  </div>
</div>
</span>



