<p id="notice"><%= notice %></p>

<div id="showdonationItemContainer">
	<h2><%= @donation_item.name %></h2>
	<p class="donationItemDescription"><%= @donation_item.description %></p>
	<%= image_tag "donation_item_images/#{@donation_item.image_url}", :class => "showDonationItemImage" %>
	<h3>$<%= @donation_item.price %></h3>

	<%= form_tag "/carted_donation_items", method: :post do %>
		<span>
			<p><%= label_tag :quantity %>
			<%= text_field_tag :quantity, 1, :class => "quantityField" %></p>	
		</span>

		<%= hidden_field_tag :donation_item_id, "#{@donation_item.id}" %>
		<%= submit_tag "Add To Donation Cart", class: "btn addToCartBtn" %>
	<% end %>

<%= link_to 'Back to all donation items', donation_items_path %>

</div>
