<div class="container cartContainer">
	<h1>Here are the items you're donating:</h1>
	<table class="cartTable">
		<tr>
			<th>Item</th>
			<th>Remove</th>
			<th>Qty.</th>
			<th>Price</th>
		</tr>
		<% @carted_donation_items.each do |carted_donation_item| %>
			<tr>
				<td>
					<span class="cartedDonationItemName"><%= carted_donation_item.donation_item.name %> - <%= carted_donation_item.donation_item.description %></span>
				</td>
				<td>
					<%= button_to("X", "/carted_donation_items/#{carted_donation_item.id}", method: :delete, :class => "btn removeBtn", :id => "removeBtn") %>
				</td>
				<td><%= carted_donation_item.quantity %></td>
				<td><%= number_to_currency(carted_donation_item.price) %></td>
			</tr>
		<% end %>
	</table>
	<h3 class="total">Total: <%= number_to_currency(@total) %></h3>
		
		<p> Click to make your one-time donation below. Or, click "Make Monthly Donation" to automatically donate these items every Rosh Chodesh!</p>


		<%= link_to "Make One-Time Donation", orders_new_path(recurring: false), class: "btn addToCartBtn", id: "placeOrderBtn", options: {}, method: :get %>

		<%= link_to "Make Monthly Donation", orders_new_path(recurring: true), class: "btn addToCartBtn", id: "placeOrderBtn", options: {}, method: :get %>
	
	<!-- <br> -->
	<%= button_to("Back To All Donation Items", "/donation_items", method: :get, :class => "btn addToCartBtn") %>
</div>