<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#01663C"/>
    <title>Evergreen</title>
    <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <link href="https://www.fontify.me/wf/685b24b51db351ff8a25613a79596f5b" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if @current_page == 'index' %>
    <style type="text/css">
      .navbar {
        padding: 50px 0 100px 0 !important;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0.8169642857142857) 0%, rgba(0,0,0,0.723686974789916) 33%, rgba(0,0,0,0.48881302521008403) 60%, rgba(0,0,0,0) 100%);
      }

      .on {
        padding: 0 !important;
      }
    </style>
  <% end %>
  <body>
    <% if @current_page == 'index' %>
      <a href="https://www.shopevergreenkosher.com/">
        <div class="freeDeliveryBanner">
          <p>FREE DELIVERY WITH PURCHASE OVER $50. <span>SHOP NOW &#9656;</span></p>
        </div>
      </a>
    <% end %>
  	<nav id="menu" class="navbar navbar-default navbar-fixed-top navbar-expand-xl"  >
      <div class="navContainer"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= image_tag "logo_new.png", :class => "navLogo" %></a>
            <a class="navbar-brand" href="/"><%= image_tag "Chesed247LogoWordsOnly.png", :class => "navLogo2" %></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/" class="page-scroll">Home</a></li>
             <li><a href="https://www.shopevergreenkosher.com/" class="page-scroll">Order Online</a></li>
            <li><a href="/specials/#startingPoint" class="page-scroll">Specials</a></li>
            <li><a href="/posts" class="page-scroll">News &amp; Events</a></li>
              <li><a href="/donation_items" class="page-scroll chesed247Link">Donate to Chesed 24/7</a></li>
            <li><a href="/#contactDiv" class="page-scroll">Contact</a></li>
           
          
          </ul>
        </div>
        <!-- /.navbar-collapse --> 
      </div>
    </nav>

    <% flash.each do |name, message| %>
      <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message.html_safe %>
      </div>
    <% end %>

    <%= yield %>

<div id="footer">
  <!-- for donations only page: -->
        <span class="donationsOnlyContactInfo">For questions, please email us at <a href="mailto: monsey@evergreenkosher.com">monsey@evergreenkosher.com</a></span>
  <div class="container">
    <div class="col-md-3">
      <%= image_tag "logo_new.png", :class => "navLogo footerLogo" %>
      <!-- <h3>Opening Hours</h3> -->
      <div class="hoursDiv">
        <ul>
          <li>Sun: 7am - 11pm</li>
          <li>Mon: 6:30am - 11pm</li>
          <li>Tue: 6:30am - 11pm</li>
          <li>Wed: 6:30am - 12am</li>
          <li>Thurs: 6:30am - 1am</li>
          <li>Fri: 6:30am - 1&#189; hour before zman</li>
          <li>Motzei Shabbos: 1&#189; hour after zman - 1am</li>
          <br>
          <li>
            Town Square Mall, 59 NY-59
            <br>
            Monsey, NY 10952
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3">
      <ul class="sitemapList">
        <li>About Us</li>
        <li><%= link_to "Order Online", "https://www.shopevergreenkosher.com/" %></li>
        <li>Recipes (Coming soon!)</li>
        <li><%= link_to "Specials", "/specials" %></li>
        <li><%= link_to "News & Events", "/posts" %></li>
        <li><%= link_to "Donate to Chesed 24/7", "/donation_items" %></li>
        
      </ul>
    </div>
    <div class="col-md-3">
      <ul>
        <li>
            <%= link_to image_tag("app_store.png"), "https://itunes.apple.com/us/app/evergreen-kosher-market/id1159477611?mt=8&ign-mpt=uo%3D4", :class => "appLink", target: :_blank  %>
          </li>
          <li>
            <%= link_to image_tag("google_play.png"), "https://play.google.com/store/apps/details?id=com.selfpoint.evergreen", :class => "appLink", target: :_blank  %>
          </li>
      </ul>

    </div>
    <div class="col-md-3" id="contactDiv">
      <h5 class="tel"><a href="tel:8453524400">(845) 352-4400</a></h5>
      <p>Follow us for Daily Updates</p>
      <!-- <div class=""> -->
        
        <div class="social">
          <ul>
            <li><a href="https://www.facebook.com/pages/Evergreen-Kosher-Market/494574977258981"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://www.twitter.com/evergreenkoshe1"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/evergreenkosher/"><i class="fa fa-instagram"></i></a></li>
          </ul>
          <a href="https://visitor.r20.constantcontact.com/manage/optin?v=001lVscjvAdJRA_sOQmDLWI-iJF373Y5-VBXtTke4BwaZcSxke4Qk34_MzHkHDKQtHqfwMFz9OZ6zr0A7txJ-yTZtMZaB9nADh2IBjLpUgnlmQ%3D">
            <div class="subscribeBtn">Subscribe to our email listing</div>
          </a>
      </div>

    <!-- </div> -->
       
        <!-- <p>Email: <a href="email:orders@evergreenkosher.com">orders@evergreenkosher.com</a></p> -->
      </div>
    </div>
    <div class="container-fluid copyrights">
    <p class="dkFooter">
      &copy; 2014-2020 Evergreen Kosher Market. All rights reserved. Website by 
      <a href="http://davidklaver.github.io" target="blank">DK Design</a>
    </p>
  </div>
  </div>
  
  </body>
</html>

